*{
    margin: 0px;
    padding: 0px;
    color: snow;
}
.header{
    background-color:lightgreen;
    height: 50px;
    text-align: center;
}
.nav{
   background-color:green;
        height: 40px;
}
.main{
 display: flex;
}
#content{
    background-color: mediumturquoise;
    height: 300px;
    width: 60%;  
    text-align: center;
}
#aside, #sidebar{
background-color: mediumblue;
height: 300px;
width: 20%;
text-align: center;
} 
.footer{
background-color: lightgreen;
height: 30px;
}