
div{
  font-family: roboto;
  font-size: 20px;
  text-transform: uppercase;}
q:before{
    content: "«";
    font-family: lato;
    font-size: 30px;
    color: #c1172c;
    line-height: 0;}
q:after{
    content:"»";
    font-family: lato;
    font-size: 30px;
    color: #c1172c;
    line-height: 0;}