*{
    width: 10px, auto;
    margin: 10px, auto;
    padding: auto;
   }
#tri { 
    width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 140px solid red;
   display: inline-block;
    } 
#tri1 { 
    width: 0;
    height: 0;
    border-top: 140px solid red;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    display: inline-block;
}
#tri2{
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 70px solid transparent;
    border-left: 140px solid green;
    border-bottom: 70px solid transparent;
}
#tri3{
    width: 0;
    height: 0;
    display: inline-block;
    border-top: 70px solid transparent;
    border-right: 140px solid green;
    border-bottom: 70px solid transparent;
}
#tri4{
    width: 0;
    height: 0;   
    display: inline-block;
    border-top: 140px solid transparent;
    border-left: 140px solid yellow;
    border-bottom: auto solid yellow;
    }
#tri5{
    width: 0;
	height: 0;
    display: inline-block;
	border-bottom: 140px solid yellow; 
	border-left: 140px solid transparent; 
}
#tri6{
    width: 0;
	height: 0;
    display: inline-block;
	border-top: 140px solid blue; 
	border-right: 140px solid transparent;	
}
#tri7{
    width: 0;
	height: 0;
    display: inline-block;
	border-top: 140px solid blue; 
	border-left: 140px solid transparent;
}